*.sdf
*.suo
*.user
Debug
Release
ipch
/enet/callbacks.obj
/enet/compress.obj
/enet/host.obj
/enet/list.obj
/enet/packet.obj
/enet/peer.obj
/enet/protocol.obj
/enet/unix.obj
/enet/win32.obj
/enet/vc120.pdb
/enet/x64
/*.opensdf
vc120.idb
/Test_Lib/*.i
.DS_Store
/xcode_cmd_test1/xcode_cmd_test1.xcodeproj/xcuserdata

*.xcuserstate
